.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 20px;
}

.avatar {
  width: 175px; 
  border-radius: 20px;
}

.sidebar-name {
  font-family: "Courgette", Comic Sans MS;
  font-size: 30px; 
  margin: 0px;
}

.sidebar-career {
  margin: 0px;
  background-color: var(--label-color);
  color: var(--gray-font-color); 
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 20px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;

  gap: 30px;

  border-top: solid 1px;
  border-bottom: solid 1px;

  border-color: var(--card-border-color);
}

.contact-item {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 15px;
}

.contact-item-content {
  display: flex;
  flex-direction: column;

  align-items: start;
}

.contact-item-title {
  color: var(--gray-font-color); 
  font-size: 12px;
  margin: 0px;
}

.contact-item-value {
  font-size: 12px;
  margin: 0px;
}
