:root {
  --page-bg-color: #141414;
  --card-bg-color: #1E1E1E;
  --card-border-color: #303030;
  --label-color: #2B2B2B;

  --font-color: #FAFAFA;
  --gray-font-color: #B6B6B6;

  --cyan-hover-color: #77DDDD;

  font-family: "Poppins", sans-serif;
  color: var(--font-color);

  color-scheme: dark;
  background-color: var(--page-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
